@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.product-detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.product-detail .table-product-detail {
  justify-content: center;
  width: 400px;
  border-collapse: collapse;
}

.product-detail .table-product-detail td {
  border: 1px solid #000;
  padding: 8px 5px;
}
.product-detail .table-product-detail th {
  border: 1px solid #000;
  padding: 8px 5px;
}

.button .button-back {
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 4px;
  height: 32px;
  padding: 0.5px 12px 0.5px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
}